<div class="container">

	<div class="row justify-content-center">
		<div class="col-6">
			<div class="row col-12 form-group">
				<label for="first_name" class="control-label col-3">First Name</label>
				<div class="col-9">
					<input [(ngModel)]="user.first_name" name="first_name" type="text" id="first_name" class="form-control" />
				</div>
				<div *ngIf="errors.first_name" class="col-12 text-danger">{{errors.first_name.message}}</div>
			</div>
			<div class="row col-12 form-group">
				<label for="last_name" class="control-label col-3">Last Name</label>
				<div class="col-9">
					<input [(ngModel)]="user.last_name" name="last_name" type="text" id="last_name" class="form-control" />
				</div>
			</div>
			<div class="row col-12 form-group">
				<label for="email" class="control-label col-3">Email</label>
				<div class="col-9">
					<input [(ngModel)]="user.email" name="email" type="email" id="email" class="form-control" />
				</div>
			</div>
		</div>

		<div class="row col-12 justify-content-end">
			<div class="col-5">
				<button class="btn btn-success mr-1" (click)="register()">Sign up</button>
				<a routerLink="/login" class="ml-2">Sign in</a>
			</div>
		</div>
	</div>
</div>